<h1>Editing tax income</h1>

<%= render "form", tax_income: @tax_income %>

<br>

<div>
  <%= link_to "Show this tax income", @tax_income %> |
  <%= link_to "Back to tax incomes", tax_incomes_path %>
</div>
