<div id="<%= dom_id appointment %>">
  <p>
    <strong>User:</strong>
    <%= appointment.user_id %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= appointment.time %>
  </p>

  <p>
    <strong>Tax income:</strong>
    <%= appointment.tax_income_id %>
  </p>

</div>
