<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <%= yield %>
  </body>
  <br/>
  <footer style="margin-top: 15px;">
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="vertical-align: middle;">
                    <h3>Eliza Asesores</h3>
                    <p>Email automatizado.</p>
                  </td>
                  <td>&nbsp;</td>
                  <td style="border-bottom-style: none; border-left-color: #485fc7; border-left-style: solid; border-left-width: 1px; width: 1px;">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="vertical-align: middle;">
                    <table cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td style="vertical-align: middle;">
                            <table cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="vertical-align: bottom;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td><a href="tel:945 14 92 47">945 14 92 47</a> | <a href="tel:605 70 55 91">605 70 55 91</a></td>
                        </tr>
                        <tr>
                          <td style="vertical-align: middle;">
                            <table cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="vertical-align: bottom;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td><a href="mailto:consultas@elizaasesores.com">consultas@elizaasesores.com </a></td>
                        </tr>
                        <tr>
                          <td style="vertical-align: middle;">
                            <table cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="vertical-align: bottom;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td><a href="https://elizaasesores.com">elizaasesores.com</a></td>
                        </tr>
                        <tr>
                          <td style="vertical-align: middle;">
                            <table cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="vertical-align: bottom;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>Comandante Izarduy 11 3B.</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" style="width: 100%;">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td style="border-bottom-color: #485fc7; border-bottom-style: solid; border-bottom-width: 1px; border-left-style: none; width: 100%;">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" style="width: 100%;">
              <tbody>
                <tr>
                  <td style="vertical-align: top;">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
    <p color="#000000" class="sc-fBuWsC eeihxG" style="margin: 0px; font-size: 10px; color: rgb(0, 0, 0);">
      <a href="https://elizaasesores.com/contacto/datos.php"> Información sobre como tratamos tus datos en Eliza Asesores</a> El contenido de este correo electrónico y sus anexos son estrictamente confidenciales, secretos y restringidos. La divulgación
      o el suministro, en todo o en parte, a cualquier tercero, no podrá ser realizada sin el previo, expreso y escrito consentimiento de ELIZA ASESORES S.L. Las opiniones contenidas en este mensaje y en los archivos adjuntos, pertenecen exclusivamente
      a su remitente y no representan la opinión de ELIZA ASESORES S.L., salvo que se diga expresamente y el remitente esté autorizado para ello. ELIZA ASESORES S.L., advierte expresamente que el envío de correos electrónicos a través de Internet no garantiza
      ni la confidencialidad de los mensajes, ni su integridad y correcta recepción, por lo que ELIZA ASESORES S.L., no asume responsabilidad alguna por dichas circunstancias. En caso que no sea el destinatario y haya recibido este mensaje por error, agradecemos
      lo comunique inmediatamente al remitente sin difundir, almacenar o copiar su contenido. En cumplimiento con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD), le informamos de que sus datos personales
      son incluidos en ficheros particulares de ELIZA ASESORES S.L., con la finalidad de mejorar nuestros servicios y productos, así como mantenerle informado sobre estos y realizar comunicaciones comerciales. Para ejercitar los derechos de acceso, rectificación,
      cancelación y oposición previstos en la ley puede dirigirse mediante un correo electrónico a: datos@elizaasesores.com
    </p>
  </footer>
</html>
